<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862325683423-97aog4lscfc97v4j87bvd3n9upassa0k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862325683423-97aog4lscfc97v4j87bvd3n9upassa0k</string>
	<key>API_KEY</key>
	<string>AIzaSyB5RWCQ3Jn7HVD1KwcqrZ6wD-FKuB5Z8JM</string>
	<key>GCM_SENDER_ID</key>
	<string>862325683423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.photocollagemaker</string>
	<key>PROJECT_ID</key>
	<string>edituserbase</string>
	<key>STORAGE_BUCKET</key>
	<string>edituserbase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862325683423:ios:f8c7e78b91391005e6e56a</string>
</dict>
</plist>